<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head> 
    <title>Getting Started: Handling Form Submission</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<h1>Deparments</h1>
	<table>
	  <tr>
	    <th>ID</th>
	    <th>NAME</th>
	  </tr>
	  <tr th:each="dept,iterStat : ${departments}">
	    <td th:text="${dept.id}"></td>
	    <td th:text="${dept.name}"></td>
	  </tr>
	</table>
</body>
</html>
