<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head> 
    <title>Getting Started: Handling Form Submission</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<h1>Employees</h1>
	<table>
	  <tr>
	    <th>Name</th>
	    <th>Department</th>
	  </tr>
	  <tr th:each="employee,iterStat : ${employees}">
	    <td th:text="${employee.name}"></td>
	    <td th:text="${employee.department.name}"></td>
	  </tr>
	</table>
</body>
</html>
