<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head> 
    <title>Getting Started: Handling Form Submission</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<h1>Form</h1>
    <form action="#" th:action="@{/employees}" th:object="${employeeForm}" method="post">
    	<p>Deparment name: <select th:field="*{departmentId}">
		  <option th:each="deparment : ${departments}" 
		          th:value="${deparment.id}" 
		          th:text="${deparment.name}"></option>
		</select></p>
        <p>Employee name: <input type="text" th:field="*{name}" /></p>
        <p><input type="submit" value="Submit" /> <input type="reset" value="Reset" /></p>
    </form>
</body>
</html>
