<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
        <meta charset="utf-8"></meta>
        <meta http-equiv="X-UA-Compatible" content="IE=edge"></meta>
        <meta name="viewport" content="width=device-width, initial-scale=1"></meta>
        <title>قائمة الحلقات</title>

        <!-- Bootstrap -->
        <link href="multicss/bootstrap.min.css" rel="stylesheet"></link>
        <link rel="stylesheet" href="multicss/font-awesome.min.css"></link>
        <link rel="stylesheet" href="multicss/jquery.bxslider.css"></link>
        <link rel="stylesheet" type="text/css" href="multicss/isotope.css" media="screen" />
        <link rel="stylesheet" href="multicss/animate.css"></link>
        <link rel="stylesheet" href="multijs/fancybox/jquery.fancybox.css" type="text/css" media="screen" />
        <link href="multicss/prettyPhoto.css" rel="stylesheet" />
        <link href="multicss/style.css" rel="stylesheet" />


        <script src="js/wow.min.js"></script>

        <style>
            .sized {
                width: 200px;
                height: 200px;
            }
        </style>        
    </head>
    <body dir="rlt">
    <div th:replace="fragments/header :: header">&copy; 2016 The Static Templates</div>

        <div class="about-us">
            <div class="container">
                <div id="groupList" class="text-center">
                    <div class="wow bounceInDown" data-wow-offset="0" data-wow-delay="0.3s">
                        <h3></h3>
                    </div>
                    <div class="wow bounceInDown" data-wow-offset="0" data-wow-delay="0.6s">
                        <h2>الحلقات</h2>
                    </div>
                    <div class="wow fadeInRight" data-wow-offset="0" data-wow-delay="0.3s">
                        <a href="groups/add" >
                            <div class="col-md-3">
                                <img class="sized" src="images/groups/newGroup.png"  alt="" />
                                <h3>اضافة حلقة</h3>
                                <p></p>
                            </div>
                        </a>
                    </div>
                    <div th:each="group,iterStat : ${groups}" class="wow fadeInRight" data-wow-offset="0" data-wow-delay="0.3s">

                            <div class="col-md-3">
                                <a th:href="${'/students/'+group.id}" >
                                <img class="sized" th:src="${'images/groups/' +group.stableId()+'.jpg'}"  alt="" />
                                <h3 th:text="${group.name}"></h3>
                                <p></p>
                                </a>
                                <!--<div style="text-align: center;"><a th:onclick="${'deleteGroup('+group.id+')'}" href="#">حذف</a></div>-->
                                <a th:href="${'groups/update/'+group.id}">
                                <button  type="button" class="btn btn-info btn-rounded m-b-10 m-l-5">تعديل</button>
                                </a>
                                <a th:onclick="${'deleteGroup('+group.id+')'}" href="#">
                                    <button  type="danger" class="btn btn-danger btn-rounded m-b-10 m-l-5">حذف</button>
                                </a>

                            </div>

                    </div>
                </div>	
            </div>
        </div>
        <script>
            wow = new WOW({}).init();
        </script>
    <script>
        function deleteGroup(id) {
            if(confirm("هل تريد حذف الحلقة و كافة طلابها و بياناتهم؟")) {
                httpGet("/groups/delete?groupId="+id);
                location.reload();
            }
        }

        function httpGet(theUrl)
        {
            var xmlHttp = new XMLHttpRequest();
            xmlHttp.open( "GET", theUrl, false ); // false for synchronous request
            xmlHttp.send( null );
            return xmlHttp.responseText;
        }
    </script>

    </body>
</html>