<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="utf-8">
  <title>طباعة طالب</title>


  <style>
    body {
      background1: rgb(204,204,204);
      border1: dotted;
  }
  page {
    border1: dotted;
    background: white;
    display: block;
    margin: 0 auto;
    border-color: #00aff0;
    background-image: url("/images/A4-back4.jpg");
    background-size: cover;
    padding-top: 5px;
  }
  page[size="A4"] {
    width: 195mm;
    height: 270mm;
    padding-left: 30px;
    padding-right: 30px;
  }
  div{
  }
  .section{
    margin: 10px;
    background-color: rgba(255,255,255,0.9);
  }
  .card{
    padding: 20px;
    text-align1: center;
    border-color: white;
  }
  @media1 print1 {
  body, page {
  margin: 0;
  box-shadow: 0;
  }
  }
  .area {
    padding: 0px;
    height: 150px;
    text-align: start;
    vertical-align: text-top;
  }
    p {
      font-size: 20pt;
      margin: 0px;
    }
    .container { }
    .first, .second{padding:0px; font-size: 20px; text-align: center; width: 40%;text-align:start;
    }
    .inline{display: inline-block; *display: inline; zoom: 1; vertical-align: top;}

.hint{
  font-size: 14px;
  margin-right: 03px;
  margin-top: 0px;
}
.meddle{
  width: 20px;
}

    .info, .value{
      margin-right: 0px;
      font-size: 20px;
      font-weight: normal;
    }
    .section, .first, .second{
      border: solid;
      font-weight: normal;
    }

    .logo{
      width: 20%; height: 20%; position: relative;
    }
    .logo2{
      width: 115%; height: 200px; margin: -30px -50px -35px 0px;
    }
    .personalImg{
      width: 170px; height: 170px; position: relative;
      border: solid;
    }
  </style>
  </head>

  <!-- Set "A5", "A4" or "A3" for class name -->
  <!-- Set also "landscape" if you need -->
  <body dir="rtl">
  <page class="adapted" size="A4">
    <div class="card section" style="text-align: center;">
      <div style="text-align: start;">
        <img class="logo" src="/images/logo.jpg" style="">
      </div>
      <div>
        <img class="personalImg" th:src="${'/images/students/'+student.tgetStableId()+'.jpg'}">
      </div>
      <div>
        <p th:text="${student.name}">محمد الأحمد</p>
        <p>الرقم التسلسلي: <span th:text="${student.getStableStudent().id}">-1</span></p>
      </div>
    </div>

    <div class=" section card" style="text-align: center;">
    <div class="first inline">
      <table style="width:80%;text-align: center;">
        <tr></tr>
        <tr>
          <th class="key"><p class="info">عدد الصفحات: </p></th>
          <th th:text="${absentPagesCount}" class="value">-1</th>
        </tr>
        <tr>
          <td class="key"><p class="info">عدد الأجزاء المسبورة: </p></td>
          <td th:text="${absentPartsCount}" class="value">-1</td>
        </tr>
      </table>
    </div>
    <div class="meddle inline">

    </div>
    <div class="second inline">
      <table style="width:80%;text-align: center;">
        <tr></tr>
        <tr>
          <th class="key"><p class="info">نسبة الحضور </p></th>
          <th th:text="${student.existenceRat()+'%'}" class="value">-1</th>
        </tr>
        <tr>
          <td class="key"><p class="info">عدد النقاط </p></td>
          <td th:text="${pointsCount}" class="value">-1</td>
        </tr>
      </table>
    </div>

  </div>

    <div class=" area section">
      <p class="hint">تقييم الطالب مع الأستاذ</p>
    </div>
    <div class=" area section">
      <p class="hint">تقييم الطالب مع زملائه</p>
    </div>
    <div class="  section area">
      <p class="hint">ملاحظات</p>
    </div>
    <button id="btnPrint" onclick="printPage()">طباعة</button>
</page>
</body>
<script>
  function printPage() {
      document.getElementById("btnPrint").style.visibility = "hidden";
      window.print();
      document.getElementById("btnPrint").style.visibility = "visible";
  }
</script>

</html>